<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class="wrapper">
    <div class="top">
        <div class="title"><h1>House Fellowship Centers</h1></div>
    </div>
    {% for x in range(length): %}
    <div class="content">
        <div class="card">
            <h2>{{ data[x]['question'] }}</h2>
<!--            <p class="text"> {{ data[x]['likes'] }}</p>-->
            <p class="text">Lorem ipsum dolor sit </p>
            <a href="{{ url_for('post_page', num=x) }}">Read</a>

        </div>
    </div>
    {% endfor %}
</div>
</body>
<footer>
    <p>Made with ♥️ in London.</p>
</footer>
</html>